/* This is the global stylesheet for generic styles. */
/* Use Emmet's `link:css` and change `src` to `css/style.css` */

/* Add .disabled to an a to "disable" it */
a.disabled {
  pointer-events: none;
}

.jumbotron {
  background-image: url('/img/violin-background.jpg')
}

.white-text {
  color: #fefefe;
}

.sidebar {
  margin-bottom: 2em;
}

.section {
  margin-bottom: 2em;
}

/* Responsive Typography (headers) */
h1, .h1 {
  font-size: 2.25rem;
}

h2, .h2 {
  font-size: 1.75rem;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

h5, .h5 {
  font-size: 1rem;
}

h6, .h6 {
  font-size: 1rem;
}

.lead {
  font-size: 1rem;
  font-weight: 300;
}

.display-1 {
  font-size: 5.5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-2 {
  font-size: 5rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-3 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.1;
}

.display-4 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.1;
}

@media (min-width: 768px){
  h1, .h1 {
    font-size: 2.5rem;
  }

  h2, .h2 {
    font-size: 2rem;
  }

  h3, .h3 {
    font-size: 1.75rem;
  }

  h4, .h4 {
    font-size: 1.5rem;
  }

  h5, .h5 {
    font-size: 1.25rem;
  }

  h6, .h6 {
    font-size: 1rem;
  }

  .lead {
    font-size: 1.25rem;
    font-weight: 300;
  }

  .display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.1;
  }

  .display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.1;
  }

  .display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.1;
  }

  .display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.1;
  }
}
